<!DOCTYPE html>
<html lang="ru" ng-app="BookInfo">
<head>
	<title>Издательство «Фрай, без штанов и Бендер»</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/main.css">
	<script src="libs/angular-1.4.8/angular.js"></script>
	<script src="libs/angular-1.4.8/angular-sanitize.js"></script>
	<script src="libs/jquery/jquery.min.js"></script>
</head>
<body>
	<div class="main" ng-controller="bookInfo">
		<header class="clearfix">
			<a href="index.html"><div class="logo"></div></a>
			<div class="search">
				<input type="text" placeholder="Поиск скорей всего не работает">
				<label class="loupe"></label>
				<label class="hotspot"></label>
			</div>
		</header>
		<h1>Мы издаем книги &#8212; вы их можете не читать</h1>
		<div class="content-book">
			<div class="book" ng-style="{'background':'url('+booksInfo.cover.large+') no-repeat','background-size':'cover'}" >
				<div class="boxEye">
					<div class='shell'>
							<div class="veko"></div>
							<div id="eye">
								<div id="pupil"></div>
							</div>
					</div>
				</div>
				<div class="bookmark"></div>
			</div>
		<p class="description" ng-bind-html="booksInfo.description"></p>
		</div>
		<div class="left-bar">
			<div ng-repeat="book in booksInfo.reviews">
				<div class="character" ng-style="{'background':'url({{book.author.pic}}) no-repeat'}"></div>
				<div class="quote"><p class="vektors">{{book.cite}}</p></div>
			</div>
		</div>
		<div class="right-bar">
			<div ng-repeat="book in booksInfo.features">
				<div class="character" ng-style="{'background':'url({{book.pic}}) no-repeat'}"></div>
				<div class="quote">
					<p>{{book.title}}</p>
				</div>
			</div>
		</div>
		<a href="order.html?id={{booksInfo.id}}"><button class="buy">Купить<br>за жалкие {{booksInfo.priceTo}} &#437;</button></a>
		<p class="comments-button">Наши цены самые не предсказуемые и формируются нашим уборщиком Скраффи</p>
		<div class="persons skraffi mini"></div>
		<footer>
			<a href="about.html"><div class="banner-home"></div></a>
		</footer>
	</div>
	<script src="js/app.js"></script>
	<script src="js/compile.js"></script>
	<script src="js/eye.js"></script>
</body>
</html>