<!DOCTYPE html>
<html lang="ru" ng-app="BookInfo">
  <head>
    <title>Издательство «Фрай, без штанов и Бендер»</title>
    <meta charset="utf-8">
		<link rel="stylesheet" href="css/main.css">
		<script src="libs/angular-1.4.8/angular.js"></script>
		<script src="libs/angular-1.4.8/angular-sanitize.js"></script>
		<script src="libs/jquery/jquery.min.js"></script>
  </head>
	<body>
		<div class="main" ng-controller="bookInfo">
		<header class="clearfix">
			<a href="index.html"><div class="logo"></div></a>
			<div class="search">
				<input type="text" placeholder="Поиск скорей всего не работает">
				<input type="button">
				<label class="loupe"></label>
				<label class="hotspot"></label>
			</div>
		</header>
		<h1>Мы издаем книги &#8212; вы их можете не читать</h1>
		<h2>Оформить заказ на книгу <a href="book.html?id={{booksInfo.id}}">{{booksInfo.title}}</a></h2>
		<p>Заказ на книгу успешно оформлен.</p>
		<p>Спасибо что спасли книгу от сжигания в печи</p>
		</div>
		<script src="js/app.js"></script>
		<script src="js/compile.js"></script>
	</body>
</html>