<!DOCTYPE html>
<html lang="ru" ng-app="BookInfo">
	<head>
		<title>Издательство «Фрай, без штанов и Бендер»</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/main.css">
		<script src="libs/angular-1.4.8/angular.js"></script>
		<script src="libs/angular-1.4.8/angular-sanitize.js"></script>
		<script src="libs/jquery/jquery.min.js"></script>
	</head>
	<body>
		<div class="main" ng-controller="bookInfo">
			<header class="clearfix">
				<div class="logo"></div>
				<div class="search">
					<input type="text" placeholder="Поиск скорей всего не работает" ng-model="search" minlength="3">
					<label class="loupe"></label>
					<label class="hotspot"></label>
				</div>
			</header>
			<h1>Cамое незаметное издательство</h1>
			<p class="notice invisible">Перетаскивайте книги ниже с места. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится.</p>
			<section class="books ui-widget-content draggable" id="draggable">
				<figure class="ui-state-default" ng-repeat="book in books | filter: search | limitTo: numLimit">
					<a href="book.html?id={{book.id}}">
						<img ng-src="{{book.cover.small}}"></a>
					<figcaption ng-bind-html="book.info"></figcaption>
				</figure>
			</section>
			<input class="load-books" value="Ещё несколько книг" type="submit" ng-click="numLimit = numLimit + letterLimit" ng-show="numLimit < maxBook">
			<footer>
				<a href="about.html"><div class="banner-home"></div></a>
			</footer>
		</div>
		<script src="js/app.js"></script>
		<script src="js/compile.js"></script>
		<script src="libs/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
		<script>
		$(function() {
			$( ".books" ).sortable({
				revert: true
			});
		});
		</script>
	</body>
</html>