<!DOCTYPE html>
<html lang="ru" ng-app="BookInfo">
  <head>
    <title>Издательство «Фрай, без штанов и Бендер»</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
		<script src="libs/angular-1.4.8/angular.js"></script>
		<script src="libs/angular-1.4.8/angular-sanitize.js"></script>
		<script src="libs/jquery/jquery.min.js"></script>
  </head>
  <body>
		<div class="main" ng-controller="bookInfo">
			<header class="clearfix">
				<a href="index.html"><div class="logo"></div></a>
				<div class="search">
					<input type="text" placeholder="Поиск скорей всего не работает">
					<label class="loupe"></label>
					<label class="hotspot"></label>
				</div>
			</header>
			<h1>Мы издаем книги &#8212; вы их можете не читать</h1>
			<form class="order-info" name="orderinfo">
				<h2>Оформить заказ на книгу <a href="book.html?id={{booksInfo.id}}">{{booksInfo.title}}</a></h2>
				<div class="form-image">
					<a href="book.html?id={{booksInfo.id}}"><img ng-src="{{booksInfo.cover.large}}"></a>
				</div>
				<div class="form-group">
					<div class="form-item">
						<label for="name">Имя:</label>
						<input type="text" ng-model="order.name" required id="name" name="name" placeholder="Введите Имя и Фамилию">
						<label for="phone">Телефон:</label>
						<input type="text" id="tel" ng-model="order.phone" name="phone" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" placeholder="Введите номер телефона">
						<label for="email">Эл. адрес:</label>
						<input type="email" ng-model="order.email" id="email" name="email" placeholder="Введите e-mail" pattern="^[-a-z0-9!#$%&'*+/=?^_`{|}~]+(?:\.[-a-z0-9!#$%&'*+/=?^_`{|}~]+)*@(?:[a-z0-9]([-a-z0-9]{0,61}[a-z0-9])?\.)*(?:aero|arpa|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|[a-z][a-z])$">
					</div>
					<div class="form-item">
						<label for="comment">Комментарий к заказу:</label>
						<textarea ng-model="order.comment" required name="comment"></textarea>
					</div>
				</div>
				<div class="form-group" method="post">
					<div class="form-item delivery">
						<label for="delivery">Cпособ доставки:</label>
						<label ng-repeat="method in delivery">
						<input required ng-model="order.delivery.id" name="delivery[id]" value="{{method.id}}" class="deliveryid" id="{{method.id}}" type="radio">{{method.name}} - {{method.priceTo}}<br></label><br>
						<label for="deliveryAddress" ng-show="needAdress" class="addressDelivery">Адрес доставки:</label>
						<input class="addressDelivery" ng-model="order.delivery.address" ng-show="needAdress" name="deliveryAddress">
					</div>
					<div class="form-item delivery">
						<label for="paymentId">Cпособ оплаты:</label>
						<label ng-repeat="method in payment">
						<input required class="paymentid" ng-model="order.payment.id" name="payment[id]" value="{{method.id}}" id="{{method.id}}" type="radio">{{method.title}}<br></label>
					</div>
					<h2>Итого к оплате  {{booksInfo.priceTo + booksInfo.deliveryPriceTarget}} &#437;</h2>
					<a href="done.html?id={{booksInfo.id}}"><button type="submit" ng-click="saveOrder(order)">Оформить заказ</button></a>
				</div>
			</form>
			<footer>
				<a href="about.html"><div class="banner-home"></div></a>
			</footer>
		</div>
		<script src="js/app.js"></script>
		<script src="js/compile.js"></script>
  </body>
</html>