//Fonts
@font-face {
	font-family: "ALS";
	src: url(../font/ALSfuchsia.otf);
}

// Clearfix
.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}
.clearfix:after {
clear: both;
}

// Mode: Desktop-full

.invisible {
	display: none !important;
}


@full: ~"(min-width: 1366px)";
@full-area: 1366px;

// Mode: Desktop
@desktop: ~"(min-width: 600px)";
@desktop-area: 600px;

// Mode: The tablet
@tablet: ~"(max-width: 320px)";
@tablet-area: 320px;


@widthBookCover:210px;

//variable and function
@while: #ffffff;
.dark-gray () {
	color:#333333;
}
.black () {
	color:#000000;
}
.box-shadow () {
	-webkit-box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.75);
	box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.75);
}
.margin (@px) {
	margin: @px auto @px auto;
}

.animation(@name,@duration, @count) {
			-webkit-animation: @name @duration ease-in-out @count;
			-moz-animation: @name @duration ease-in-out @count;
			-o-animation: @name @duration ease-in-out @count;
			animation: @name @duration ease-in-out @count;
}


.area (@w, @h) {
	width: @w;
	height: @h;
}
// Styles list
* {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.display {
	display: none;
}

body {
	min-width: 320px;
	background: @while;
	color: black;
	margin: 0 auto;
}

.main {
	.margin(0);
	text-align: center;
	padding: 0 2%;
}

header {
	margin:auto;
	min-width: 300px;
	max-width: 1200px;
	.logo {
		.margin(40px);
		.area(300px,36px);
		background: url(../images/logo.png) no-repeat;
		@media (min-width: 750px) {
			.margin(60px);
			display: inline-block;
			float:left;
		}
	}
	.search {
		position: relative;
		width:264px;
		margin: auto;
		@media (min-width: 750px) {
			float:right;
			.margin(60px);
			display: inline-block;
		}
		input {
			box-sizing: border-box;
			border: 1px solid black;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-o-border-radius: 10px;
			-webkit-border-radius: 10px;
			-ms-border-radius: 10px;
			border-radius: 10px;
			box-sizing: border-box;
			.area(264px, 30px);
			vertical-align: top;
			padding-left: 25px;
			outline: none;
			font: 400 16px / 20px Arial;
		}
		.loupe {
			background: url(../images/search.png);
			position: absolute;
			top:5px; left:5px;
			.area(20px,20px);
		}
		.hotspot {
			background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.99) 75%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 75%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 75%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
			position: absolute;
			top:4px;right: 2px;
			.area(50px,21px);
		}
	}
}

strong {
	color:red;
}
h1,h2,h3 {
	.black;
}

u {
	color:#4283c0;
	text-decoration: underline;
}

h1 {
	font: 700 38px / 46px Arial;
	.margin(40px);
	@media (min-width:1390px) {
		max-width: 1200px;
		font-size: 72px;
		line-height: 84px;
		.margin(50px);
	}
	@media (max-width:600px) and (min-width:310px) {
		font-size:45px;
	}
}


.notice {
	.dark-gray;
	font: 400 24px / 34px Arial;
	text-align: center;
	&.invisible {
		display: none;
	}
	@media @desktop {
		max-width: 880px;
		font: 400 32px / 48px Arial;
		.margin(50px);
		&.invisible {
			display: block;
		}
	}
}
h2 {
	margin-top: 60px;
	font: 700 32px / 54px Arial;
	@media @desktop {
		.margin(50px);
	}
}
h3 {
	.margin(30px);
	font: 700 24px / 32px Arial;
}
h3,h2 {
	text-align: left;
	@media @desktop {
		max-width: 640px;
	}
}

p {
	text-align:left;
	.dark-gray;
	font: italic 19px / 32px Arial;
	.margin(30px);
	@media @desktop {
		max-width: 640px;
	}
}


.books {
	min-width: 300px;
	max-width: 1286px;
	.margin(60px);
	@media @desktop {
	.margin(50px);
	}
	img {
		position: relative;
		.area(@widthBookCover,300px);
	}
	figure {
		.margin(60px);
		img {
			margin-bottom: 30px;
			.box-shadow;
		}
		img:active {
			.animation(opacity,2s, infinite);
			cursor: url(../images/cursor-actove-book.png),auto;
		}
		img:after {
			position: absolute;
			bottom: 0px;
			left: 20px;
		}
		figcaption {
			margin: 0 auto;
			width: @widthBookCover + 68px;
			color: #4c4c4c;
			font: 400 19px / 26px Arial;
		}
		@media @desktop {
			vertical-align: middle;
			height: 450px;
			overflow: hidden;
			margin:20px;
			display: inline-block;
		}
		@media (min-width: 1279px) {
			margin:9px;
		}
		@media @full {
			margin:20px;
		}
	}
}
.load-books {
	color:#4285bf;
	text-align: center;
	border: 1px solid #96c2e4;
	margin-top: 50px;
	.area(280px,44px);
	border-radius: 8px;
	font: 400 17px / 27.995px Arial;
	background-color: transparent;
}
.load-books:hover {
	border-color: red;
	color:red;
}


.persons {
	width: 95%;
	.margin(0);
	@media (min-width: 470px) and (max-width: 482px) {
		width: initial;
	}
	& > div {
		margin: 10px;
	}
	@media @desktop {
		& > div {
			margin: 20px;
		}
	}
	@media (min-width: 721px) {
		& > div {
			margin: 35px;
		}
	}
	.fry {
		background: url(../images/fry.png);
	}
	&.skraffi, .skraffi {
		background: url(../images/skraffi.png);
		&.mini {
			margin-top: 10px;
			margin-bottom: 40px;
			.area(70px,70px);
			background-size: contain;
		}
	}
	.slizen {
		background: url(../images/slizen.png);
	}
	.kalkulon {
		background: url(../images/kalkulon.png);
	}
	.zepp {
		background: url(../images/zepp.png);
	}
	div {
		margin-top: 40px;
		.area(112px,112px);
		display: inline-block;
		content: ' ';
	}
	.bender {
		background: url(../images/bender.png) no-repeat;
	}
	.diadem {
		vertical-align: bottom;
		margin-top: 16px;
		background: url(../images/diadem.png);
		.area(123px,149px);
		z-index: 0;
		& > div {
			.area(123px,117px);
			background-position: 50% 0%;
			background-repeat: no-repeat;
			margin-top: 32px;
		}
	}
}
.comments-button {
	text-align: center;
	color: #dcdcdc;
	font: italic 15px / 19px Arial;
}

.incut {
	text-align: center;
	.black;
	font: 400 28px / 42px ALS;
}
hr {
	max-width: 640px;
	.margin(40px);
	height: 1px;
	background-color: #7d7d7d;
	@media @desktop{
		.margin(50px);
	}
}


.left-bar div, .right-bar div {
	margin-top: 60px;
	margin: 0 auto;
}
@media @desktop and (max-width:1389px) {
	.quote {
		vertical-align: top;
	}
	.right-bar > div,.left-bar > div {
		height: @widthBookCover;
		display: inline-block;
	}
	.right-bar > div + div, .left-bar > div + div {
		margin: 0 5%;
	}
	.right-bar .character, .right-bar .quote, .left-bar .character, .left-bar .quote {
		display: inline-block;
	}
}
@media (min-width: 1390px) {
	.left-bar {
		display: inline-block;
		width: 30%;
		float: left;
	}
	.right-bar {
		display: inline-block;
		width: 30%;
		float: right;
	}
	.content-book {
		display: inline-block;
		width: 30%;
	}
}
.book {
	.box-shadow;
	.area(280px,400px);
	content: ' ';
	margin: auto;
	position: relative;
	@media (min-width:600px){
		.area(415px,600px);
	}
	@media (max-width:1390px){
		margin-bottom: 50px;
	}
	.bookmark {
		z-index: -1;
		position: absolute;
		bottom: -38px;left: 40px;
		.area(26px;48px);
		background: url(../images/bookmark.png)
	}
}






.character {
	.area(@widthBookCover,195px);
	margin: 0 auto;
	@media @desktop{
		margin-bottom: 70px;
	}
}
.quote {
	position: relative;
	width: 80%;
	margin: 25px auto 60px auto;
		@media @desktop{
		width: @widthBookCover + 50px;
	}
	p {
		color: #4c4c4c;
		font: 400 21px / 32px Arial;
		text-align: center;
	}
	.vektors:before {
		position: absolute;
		content: '\ab';
		top: 0px;
		left : -20px;
		font-size: 42px;
	}
	.vektors:after {
		position: absolute;
		content: '\bb';
		bottom: 0px;
		right : -20px;
		font-size: 42px;
	}
}

.description {
	width: 300px;
	text-align: center;
	font: 400 24px / 34px Arial;
}
.buy {
	background: -webkit-linear-gradient(90deg, #613c63 0%, #855987 100%);
	background: -moz-linear-gradient(90deg, #613c63 0%, #855987 100%);
	background: -o-linear-gradient(90deg, #613c63 0%, #855987 100%);
	background: -ms-linear-gradient(90deg, #613c63 0%, #855987 100%);
	background: linear-gradient(0deg, #613c63 0%, #855987 100%);
	color: @while;
	font: 400 32.6px / 38px Arial;
	.area(300px,116px);
	border-radius: 10px;
	margin-top:50px;
	margin-bottom: 30px;
	white-space: normal;
}
.buy:hover {
	background: linear-gradient(0deg, #49274b 0%, #c28dc5 100%);
}
.buy:active {
	background: linear-gradient(0deg, #623a64 0%, #865888 100%);
}

footer {
	.banner-home {
		clear: both;
		background: url(../images/footer-bender.png) 50% 50% no-repeat;
		.area(300px,193px);
		margin: 60px auto 0 auto;
	}
}

.order-info {
	.border () {border: 3px solid black};
	min-width: 300px;
	max-width: 1200px;
	margin: auto;
	.form-image img {
		width: 280px;
		background-size: cover;
	}
	@media (min-width: 675px) {
		.form-image {
		float:right;
		}
	}
	h2 {
		max-width: 1000px;
		text-align: center;
		font-weight: 500;
	}
	button {
		font-weight: 500;
		font-size: 22px;
		.area(260px,40px);
		border-radius: 5px;
		.border;
		@media @desktop {
			width: 390px;
		}
	}
	.form-group {
		font-weight: 600;
		font-size: 18px;
		.form-item {
			width: 260px;
			margin: 30px;
			display: inline-block;
			text-align: left;
			vertical-align: top;
			input {
				padding-left: 5px;
				font-weight: 600;
				display: block;
				outline: none;
				.border;
				.area(250px,25px);
				margin-bottom: 10px;
			}
			label {
				display: block;
				text-indent: 10px;
			}
			textarea {
				padding: 5px;
				.border;
				.area(300px,139px);
				outline: none;
			}
			&.delivery {
				margin-bottom: 0;
				input {
					display: inline-block;
					width: 20px;
					vertical-align: top;
					margin-right: 5px;
				}
				label {
					margin: 5px;
				}
				.addressDelivery {
					.area(250px,40px);
				}
			}
		}
	}
}
.boxEye {
	position: absolute;
	bottom:150px;
	width: 100%;
	.shell{
		position: relative;
		margin: auto;
		.area(132px,132px);
		.veko {
			position: absolute;
			z-index: 10;
			.area(137px,137px);
			background: transparent;
			border-radius: 100%;
			.animation(blinking,7.7s, infinite);
			}
			#eye {
				position: absolute;
				z-index: 2;
				position: relative;
				.area(132px,132px);
				border: 3px solid black;
				background-color: white;
				border-radius: 100%;
				#pupil {
					position: absolute;
					top:53px;left: 53px;
					.area(26px,26px);
					border-radius: 100%;
					background: black;
			}
		}
	}
}

@keyframes opacity {
	0%{ opacity: 0.9}
	10%{ opacity: 0.8}
	30%{ opacity: 0.7}
	40%{ opacity: 0.6}
	50%{ opacity: 0.5}
	60%{ opacity: 0.5}
	70%{ opacity: 0.6}
	80%{ opacity: 0.7}
	90%{ opacity: 0.8}
	100%{ opacity: 0.9}
}
@keyframes blinking {
	0% {border-top: 6px solid black;border-bottom: 6px solid black;box-sizing:border-box;}
	1% {border-top: 16px solid black;border-bottom: 16px solid black;box-sizing:border-box;}
	2% {border-top: 26px solid black;border-bottom: 26px solid black;box-sizing:border-box;}
	3% {border-top: 36px solid black;border-bottom: 36px solid black;box-sizing:border-box;}
	4% {border-top: 46px solid black;border-bottom: 46px solid black;box-sizing:border-box;}
	5% {border-top: 56px solid black;border-bottom: 56px solid black;box-sizing:border-box;}
	6% {border-top: 66px solid black;border-bottom: 66px solid black;box-sizing:border-box;}
	7% {border-top: 56px solid black;border-bottom: 56px solid black;box-sizing:border-box;}
	8% {border-top: 46px solid black;border-bottom: 46px solid black;box-sizing:border-box;}
	9% {border-top: 36px solid black;border-bottom: 36px solid black;box-sizing:border-box;}
	10% {border-top: 26px solid black;border-bottom: 26px solid black;box-sizing:border-box;}
	11% {border-top: 16px solid black;border-bottom: 16px solid black;box-sizing:border-box;}
	12% {border-top: 6px solid black;border-bottom: 6px solid black;box-sizing:border-box;}
	13% {border-top: 0px solid black;border-bottom: 0px solid black;box-sizing:border-box;}
	100% {}
}



.order-info .form-group .form-item .ng-dirty.ng-invalid {
	border-color: red;
}
